.first {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #22225E;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1519px;
}

.first ul {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    margin-top: -20px;
    margin-left: 50px;
}

.first li {
    display: inline-block;
    padding: 25px 35px;
    cursor: pointer;
}
.first li:hover{
    color: #C6A359;
}
.input1 {
    background-color: rgba(229, 234, 255, 0.3);
    border: none;
    position: relative;
    right: -50px;
    top: -6px;
    color: #fff;
    text-indent: 10px;
}
.first td:hover{
    color: #22225E;
}
.input1::placeholder {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f2f2f2;
}
.input2{
    display: none;
}
.second {
    position: relative;
    display: flex;
    margin-top: -30px;
    margin-left:90px;
    z-index: 1;
}

.second ul {
    background-color: #C9A65C;
    color: #fff;
    margin: 0 0 10px 10px;
    display: flex;
    justify-content: center;
}

.second table {
    border-color: #ffffff;
    background-color: #C9A65C;
    height: 40px;
    width: 110px;
    margin-right: 20px;
    position: relative;
}

.second td {
    padding: 0px 40px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
}

.logo {
    position: absolute;
    top: -27px;
    width: 8%;
    left: 43.69%;
}   

.links {
    display: flex;
    flex-direction: column;
    color: #CBA85E;
    margin-top: 50px;
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif !important;
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -50px;
    margin-left: -40px;
}
.icon div:hover{
    background: #FFFFFF;
    color: #22225E;
}


.facebook, .instagram, .linkedin, .twitter, .whatsapp {
    height: 25px;
    width: 25px;
    background-color: #C9A65C;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram,
.twitter {
    background-color: #22225E;
}

*,
::after,
::before {
    box-sizing: unset;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-width: 1px;
}


.carousel {
    z-index: 0;
    width: 1519px;
}

.carousel-control-prev {
    left: -6%;
}

.carousel-control-next {
    right: -6%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background: white;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: unset;
}

.swipe-left,
.swipe-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: 50%;
    height: 5%;
    width: 25px;
    border-radius: 3px;
}

.swipe-right {
    right: 7px;
}

.swipe-left {
    left: 7px;
}

.carousel-indicators [data-bs-target] {
    width: 10px ;
    height: 10px ;
    border-radius: 50px;
    border-top: 0px solid transparent ;
    border-bottom: 0px solid transparent ;
    margin: 0px 10px;
}

.swipe-left:hover svg {
    display: none;
}

.admission-enquiry {
    position: fixed;
    top: 45%;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    border: solid black;
    padding: 0px 10px;
    right: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: rotate(271deg);
    background: #141353;
    font-family: "segoe UI";
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
}

p {
    margin-bottom: unset;
}

.marq1 {
    background: #141353;
    width: 1519px;
    color: white;
    position: relative;
    padding: 14px 0px;
}
.tempo-div{
    display: none;
}
.record-con {
    position: relative;
    display: flex;
    height: 600px;
    width: 1519px;
    background: #F3F4F6;
}

.records {
    margin-top: 40px;
    width: 50%;
    margin-right: 20px;
}
.record-row-1,.record-row-2{
    display: flex;
    margin: 10px 0px;
}
.r1,.r2,.r3,.r4,.r5,.r6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px;
    width: 210px;
    height: 245px;
    background: #FFFFFF;
}
.c1,.c2,.c3,.c4,.c5,.c6{
    position: relative;
    margin-bottom: 20px;
    width: 118px;
    height: 118px;
    display: flex;
    justify-content: center;
    background-color: rgba(201, 166, 92, 0.28);
    border-radius: 50%;
    color: white;
}
.c1{
    margin-top: 40px;
    margin-bottom: 10px;
}
.c4{
    margin-top: -50px;
}
.c1::before {
    content: '50+';
}
.c2::before {
    content: '6';
}
.c3::before {
    content: '23';
}
.c4::before {
    content: '64';
}
.c5::before {
    content: '250+';
}
.c6::before {
    content: '2500+';
}
.c1::before,.c2::before,.c3::before,.c4::before,.c5::before,.c6::before{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #C9A65C;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
}
.r1:hover .c1::before,.r2:hover .c2::before,.r3:hover .c3::before,.r4:hover .c4::before,.r5:hover .c5::before,.r6:hover .c6::before{
    background: #22225E;
}

h3 {
    font-weight: 400;
    font-size: 15px;
}
.slider {
    margin-top: 70px;
    width: 47.5%;
    height: 85%;
    background-color: white;
    overflow: hidden;
    border: 1px solid black;
    animation: slider 7s infinite;
}

/* slider animation starts here */

@keyframes slider {
    0%, 33.33% {
        background-image: url('images/s1.jpg');
        background-size: 100% 100%;
    }
    33.34%, 66.66% {
        background-image: url('images/s2.jpg');
        background-size: 100% 100%;
    }
    66.67%, 100% {
        background-image: url('images/s3.jpg');
        background-size: 100% 100%;
    }
}

/* animation ends here */


.clg-info{
    width: 1519px;
    background-image: url('images/clg-info.jpg');
    background-size: cover;
}
.clg-info-row-1{
    display: flex;
    
}
.clg-info-1,.clg-info-2,.clg-info-3{
    display: flex;
    margin-top: 45px;
    margin-left: 30px;
}

.clg-info-2{
    margin:45px 259px;
}
.ci-icon{
    border-right: 3px solid rgba(0, 0, 0, 0.10);
    padding-right:15px;
    margin-right: 15px;
}
.ci1-text{
    display: flex;
    flex-direction: column;
}
.bold-ci{
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-weight: 500;
}
.p-ci{
    font-size: 16px;
    color: #22225E;
    font-weight: 500;
}
.ci-icon{
    width: 50px;
    height: 75px;
}
.ci-text{
    margin-top: -10px;
}
.ci-icon img{
    width: 50px;
    height: 50px;
}
.clg-info-row-2{
    display: flex;
    padding-bottom: 20px;
}
.clg-info-4,.clg-info-5,.clg-info-6{
    display: flex;
    margin-left: 30px;  
}
.clg-info-5{
    margin:0px 292px;
}
.clg-info-6{
    margin-left: 46px;
}
.marg-pad{
    margin-right:22px ;
    padding-right: 22px;
}
.announce-news{
    display: flex;
    width: 1519px;
    background-image: url('images/announce-news-update.jpg');
    background-size: cover;
}
.announcement{
    margin-top: 25px;
    padding-right: 30px;
    width: 529px;
    height: 608px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid #CBA85E;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h2-announce,.news-title{
    font-size: 34px;
    color: #22225E;
    text-transform: uppercase;
}
.announce-marquee{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.underline{
    width: 145px;
    border: 1px solid #CBA85E;
    margin-bottom: 10px;
    margin-top: -5px;
}
.announce1{
    position: relative;
    width: 509px;
    height: 110px;
    border-radius: 5px;
    background: rgba(204, 169, 95, 0.10);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
}
.date-announce1{
    position: absolute;
    top:0px;
    right: 10px;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: #22225E;
    font-family: 'Montserrat', sans-serif !important;
}
.marq2{
    height: 500px;
}
.Admission-Enquiry{
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #22225E;
    font-family: 'Montserrat', sans-serif !important;
}
.admission-open-text{
    font-size: 13px !important;
    font-weight: 500;
    padding-top: 5px;
    padding-left: 20px;
    font-style: normal;
    font-size: 14px;
    color: #22225E;
    font-family: 'Montserrat', sans-serif !important;
}
.view-more{
    background-color: #22225E;
    color:white;
    font-size: 14px;
    cursor: pointer;
    width: 70px;
    padding: 6px 12px;
    border-radius: 4px;
    border-color: #2e6da4;    
}
.news-updates{
    width: 957px;
    height: 698px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}
.news-title-con-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.news-title-con{
    display: flex;
}
.news-title-update{
    font-size: 34px;
    text-transform: uppercase;
    margin-left: 6px;
    color: #CBA85E;
}
.news-con{
    display: flex;
    justify-content: space-between;
    width: 610px;
    margin-top: 30px;
}
.news-con-respo{
    display: none;
}
.news1 img{
    border: 2px solid white;
}
.news-con img{
    width: 293px;
    height: 416px;
    box-shadow: 0 0 15px rgba(34, 34, 94, 0.7);
}
.news1,.news2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.news1-title-con,.news2-title-con{
    background: #22225E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
    height: 74px;
    width: 92%;
}
.news1-title,.news2-title{
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.underline2{
    margin-top:9px;
    margin-bottom: 3px;
    border: 1px solid white;
    width: 197px;
    margin-top: -25px;
}
.read-more{
    position: absolute;
    bottom: -10px;
    background: #CBA85E;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    width: 83px;
    padding: 6px 0px;
    font-size: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
}
.navi-for-news{
    width: 13px;
    height: 13px;
    background-color: #22225E;
    margin-top: 40px;
}
.Our-Distinctiveness{
    width: 1519px;
    height: 500px;
    background: #22225E;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.od-title-con{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.od-title-bg{
    font-size: 60px;
    color: rgba(198,163,89,0.15);
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase;
    font-weight: 600;
}
.od-title-main{
    text-transform: uppercase;
    font-size: 40px;
    color: #CBA85E;
    font-weight: 600;
    position: absolute;
}
.od-title-bg:hover {
    animation: title 2s ease-in-out;
}

@keyframes title {
    0% {
        font-size: 60px;
    }
    50% {
        font-size: 63px;
    }
    100% {
        font-size: 60px;
    }
}
.od-cards{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.card-row1,.card-row2{
    display: flex;
    color: #22225E;
    justify-content: center;
}
.card-row1{
    margin-bottom: 10px;
}
.card-row1  div,.card-row2 div{
    background: #FFFFFF;
    margin: 0px 10px;
    height: 112px;
    width: 230px;
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 20px 0 20px;
    border: 1px solid #C6A359;
}   
.card-row1 * span,.card-row2 * span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-bg-div{
    width: 245px !important;
    height: 125px !important;
    position: relative;
    cursor: pointer;
}
.top-left-sidebox,.top-right-sidebox,.bottom-left-sidebox,.bottom-right-sidebox{
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    background: #C6A359 !important;
}
.top-left-sidebox{
    border-radius: 3px 3px 100px 3px !important;
    top:-5px;
    left: -15px;
}
.top-right-sidebox{
    border-radius: 3px 3px 3px 100px !important;
    top:-5px;
    right:-15px;
}
.bottom-left-sidebox{
    border-radius: 3px 100px 3px 3px !important;
    bottom: -5px;
    left: -15px;
}
.bottom-right-sidebox{
    border-radius: 100px 3px 3px 3px !important;
    bottom: -5px;
    right:-15px;
}
.card-bg-div:hover :nth-child(2){
    background: #22225E;
    color :#C6A359
}
.od-logo{
    position: absolute;
    top:27%;
    left: 46%;
    z-index: 1;
}
.od-logo  img{
    width: 120px;
    height: 120px;
}

.faculties{
    /* display: flex;
    justify-content: center; */
    background-image: url('images/fac-bg.png');
    background-size: cover;
    width: 1519px;
    height: 500px;
}
.fac-title-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fac-title-bg{
    font-size: 60px;
    color: rgba(198,163,89,0.15);
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}
.fac-title-main{
    font-size: 40px;
    color: #CBA85E;
    font-weight: 600;
    position: absolute;   
}