.first {
    margin: -8px -8px 0px -8px;
    background-color: #22225E;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100.51%;
}

.first ul {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 200px;
}

.first li {
    display: inline-block;
    padding: 25px;
}

.first input {
    background-color: rgba(229, 234, 255, 0.3);
    border: none;
    position: absolute;
    right: 20px;
    width: 170px;
    height: 25px;
    top: 15px;
    color: #fff;
    text-indent: 10px;
    margin-top: -8px;
}

.first ::placeholder {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f2f2f2;
}

.second {
    position: relative;
    z-index: 1;
}

.second ul {
    background-color: #C9A65C;
    color: #fff;
    margin: 0 0 10px 10px;
    display: flex;
    justify-content: center;
}

.second table {
    border-color: #ffffff;
    background-color: #C9A65C;
    height: 40px;
    margin-top: -30px;
    width: 110px;
    position: relative;
}

.second td {
    padding: 0px 35px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
}

.logo {
    position: absolute;
    top: -59%;
    width: 8%;
    left: 43%;
}

.links {
    height: 150px;
    width: 150px;
    display: grid;
    float: right;
    color: #CBA85E;
    margin-top: -50px;
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif !important;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    position: relative;
}

.follow {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -50px;
    margin-left: -40px;
}

.facebook,
.instagram,
.linkedin,
.twitter,
.whatsapp {
    height: 25px;
    width: 25px;
    background-color: #C9A65C;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -140px;
}

.instagram,
.twitter {
    background-color: #22225E;
}

*,
::after,
::before {
    box-sizing: unset;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-width: 1px;
}


.carousel {
    top: -115px;
    z-index: 0;
}

.carousel-control-prev {
    left: -6%;
}

.carousel-control-next {
    right: -6%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background: white;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: unset;
}

.swipe-left,
.swipe-right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: 50%;
    height: 5%;
    width: 25px;
    border-radius: 3px;
}

.swipe-right {
    right: 7px;
}

.swipe-left {
    left: 7px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    margin: 0px 10px;
}

.swipe-left:hover svg {
    display: none;
}

.admission-enquiry {
    position: fixed;
    top: 45%;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    border: solid black;
    padding: 0px 10px;
    right: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: rotate(271deg);
    background: #141353;
    font-family: "segoe UI";
    font-size: 20px;
    z-index: 1;
}

p {
    margin-bottom: unset;
}

marquee {
    background: #141353;
    color: white;
    position: relative;
    top: -115px;
    padding: 14px 0px;
}

.record-con {
    position: relative;
    margin-top: -8%;
    display: flex;
    height: 600px;
    background: #F3F4F6;
}

.records {
    margin-top: 40px;
    width: 50%;
    margin-right: 20px;
}
.record-row-1,.record-row-2{
    display: flex;
    margin: 10px 0px;
}
.r1,.r2,.r3,.r4,.r5,.r6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px;
    width: 210px;
    height: 245px;
    background: #FFFFFF;
}
.c1,.c2,.c3,.c4,.c5,.c6{
    position: relative;
    margin-bottom: 20px;
    width: 118px;
    height: 118px;
    display: flex;
    justify-content: center;
    background-color: rgba(201, 166, 92, 0.28);
    border-radius: 50%;
    color: white;
}
.c1{
    margin-top: 40px;
    margin-bottom: 10px;
}
.c4{
    margin-top: -50px;
}
.c1::before {
    content: '50+';
}
.c2::before {
    content: '6';
}
.c3::before {
    content: '23';
}
.c4::before {
    content: '64';
}
.c5::before {
    content: '250+';
}
.c6::before {
    content: '2500+';
}
.c1::before,.c2::before,.c3::before,.c4::before,.c5::before,.c6::before{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #C9A65C;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
}

h3 {
    font-weight: 400;
    font-size: 15px;
}
.slider {
    margin-top: 70px;
    width: 47.5%;
    height: 85%;
    background-color: white;
    overflow: hidden;
    border: 1px solid black;
    animation: slider 7s infinite;
}

/* slider animation starts here */

@keyframes slider {
    0%, 33.33% {
        background-image: url('images/s1.jpg');
        background-size: 100% 100%;
    }
    33.34%, 66.66% {
        background-image: url('images/s2.jpg');
        background-size: 100% 100%;
    }
    66.67%, 100% {
        background-image: url('images/s3.jpg');
        background-size: 100% 100%;
    }
}

/* animation ends here */


.clg-info{
    background-image: url('images/clg-info.jpg');
    background-size: cover;
}
.clg-info-row-1{
    /* background: red; */
    display: flex;
    
}
.clg-info-1,.clg-info-2,.clg-info-3{
    display: flex;
    margin-top: 45px;
    margin-left: 30px;
}

.clg-info-2{
    margin:45px 259px;
}
.ci-icon{
    border-right: 3px solid rgba(0, 0, 0, 0.10);
    padding-right:15px;
    margin-right: 15px;
}
.ci1-text{
    display: flex;
    flex-direction: column;
}
.bold-ci{
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-weight: 500;
}
.p-ci{
    font-size: 16px;
    color: #22225E;
    font-weight: 500;
}
.ci-icon{
    width: 50px;
    height: 75px;
}
.ci-text{
    margin-top: -10px;
}
.ci-icon img{
    width: 50px;
    height: 50px;
}
.clg-info-row-2{
    display: flex;
    padding-bottom: 20px;
}
.clg-info-4,.clg-info-5,.clg-info-6{
    display: flex;
    margin-left: 30px;  
}
.clg-info-5{
    margin:0px 292px;
}
.clg-info-6{
    margin-left: 46px;
}
.marg-pad{
    margin-right:22px ;
    padding-right: 22px;
}
.annoucement{
    width: 529px;
    height: 608px;
    background: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.h2-annocue{
    font-size: 34px;
    width: 20px;
    color: #22225E;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}
.annouce-marquee{
    width: 500px;
    height: 500px;
    background: red;
}